@model OnlineBookstore.Models.korisnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.korisnicko_ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korisnicko_ime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.embg_korisnik }) |
    @Html.ActionLink("Back to List", "Index")
</p>
