@model IEnumerable<OnlineBookstore.Models.korisnik>

@{
    ViewBag.Title = "Index";
}

<h2>Registrirani Korisnici po email i korisnicko_ime</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.korisnicko_ime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.korisnicko_ime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.embg_korisnik }) |
            @Html.ActionLink("Details", "Details", new { id=item.embg_korisnik }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.embg_korisnik })
        </td>
    </tr>
}

</table>
