@model IEnumerable<OnlineBookstore.Models.kniga>

@{
    ViewBag.Title = "Index";
}

<h2>Knigi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.godinaizdavanje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.embg_izdavac)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godinaizdavanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategorija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.embg_izdavac)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.isbn }) |
            @Html.ActionLink("Details", "Details", new { id=item.isbn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.isbn })
        </td>
    </tr>
}

</table>
